In [1]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import roc_auc_score

import pandas as pd

In [2]:
baby = pd.read_csv("C:/Users/HP/Desktop/baby.csv", engine="python")
cat = baby.iloc[:2].copy()
cat.set_value(0, "current_is_sale", 32424)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

,ï»¿,current_total_landing_count,current_other_landing_count,current_product_landing_count,current_cart_landing_count,current_sale_amount,current_is_sale,current_avg_cart_amount,current_avg_visited_product_price,referrer,last_1_day_session_count,last_7_day_session_count,date
0,1,1,1,0,0,0,32424,0,0,google,0,0,08/05/2014 09:09
1,2,1,0,1,0,0,0,0,0,google,0,3,09/05/2014 18:33

In [3]:
## Import up sound alert dependencies
from IPython.display import Audio, display

def allDone():
  display(Audio(url='https://sound.peal.io/ps/audios/000/000/537/original/woo_vu_luvub_dub_dub.wav', autoplay=True))
## Insert whatever audio file you want above

allDone()

In [6]:
baby.columns[0]

'ï»¿'

In [7]:
baby

,ï»¿,current_total_landing_count,current_other_landing_count,current_product_landing_count,current_cart_landing_count,current_sale_amount,current_is_sale,current_avg_cart_amount,current_avg_visited_product_price,referrer,last_1_day_session_count,last_7_day_session_count,date
0,1,1,1,0,0,0,0,0,0,google,0,0,08/05/2014 09:09
1,2,1,0,1,0,0,0,0,0,google,0,3,09/05/2014 18:33
2,3,1,1,0,0,0,0,0,0,google,0,1,17/05/2014 17:59
3,4,2,2,0,0,0,0,0,0,facebook,1,7,18/05/2014 15:33
4,5,1,0,1,0,0,0,69,0,other,13,13,15/05/2014 16:59
5,6,1,0,1,0,0,0,0,0,other,33,33,17/05/2014 10:20
6,7,4,2,2,0,0,0,180,0,other,0,36,16/05/2014 08:16
7,8,2,2,0,0,0,0,0,0,other,2,2,08/05/2014 09:11
8,9,3,3,0,0,0,0,0,0,other,0,1,07/05/2014 12:48

In [9]:
import pickle


f = open('store.pckl', 'wb')
pickle.dump(baby, f)
f.close()

f = open('store.pckl', 'rb')
obj = pickle.load(f)
f.close()

In [10]:
obj

,ï»¿,current_total_landing_count,current_other_landing_count,current_product_landing_count,current_cart_landing_count,current_sale_amount,current_is_sale,current_avg_cart_amount,current_avg_visited_product_price,referrer,last_1_day_session_count,last_7_day_session_count,date
0,1,1,1,0,0,0,0,0,0,google,0,0,08/05/2014 09:09
1,2,1,0,1,0,0,0,0,0,google,0,3,09/05/2014 18:33
2,3,1,1,0,0,0,0,0,0,google,0,1,17/05/2014 17:59
3,4,2,2,0,0,0,0,0,0,facebook,1,7,18/05/2014 15:33
4,5,1,0,1,0,0,0,69,0,other,13,13,15/05/2014 16:59
5,6,1,0,1,0,0,0,0,0,other,33,33,17/05/2014 10:20
6,7,4,2,2,0,0,0,180,0,other,0,36,16/05/2014 08:16
7,8,2,2,0,0,0,0,0,0,other,2,2,08/05/2014 09:11
8,9,3,3,0,0,0,0,0,0,other,0,1,07/05/2014 12:48